@(user: models.users.User, product: Product)
@main("checkout", user){
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
        <div class="text-center">
            Card Number:<br>
            <input type="text" name="cardnum"><br>
            Security Code:<br>
            <input type="text" name="secCode"><br>
            Card Expiration:<br>
            <input type="text" name="date"><br>
            <br>
            <a href="@routes.HomeController.buy()">
                <input type="submit" value="Buy" class="btn btn-primary">
            </a>
        </div>

    </div>


}
