@import helper._
@(addContactForm: Form[models.Contact])
@main("Contact"){


    <div class="col-md-2">
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <h4>Have a problem? Please fill in the online customer service form below for a quick response.</h4>
                </div>
                @form(action = routes.HomeController.contactSubmit(), 'class -> "form-horizontal", 'role ->"form"){
                    @inputText(addContactForm("fname"), '_label -> "First Name:", 'class -> "form-control")
                    @inputText(addContactForm("lname"), '_label -> "Last Name:", 'class -> "form-control")
                    @inputText(addContactForm("email"), '_label -> "Email:", 'class -> "form-control")
                    @inputText(addContactForm("subject"), '_label -> "Subject:", 'class -> "form-control")
                    @inputText(addContactForm("comment"), '_label -> "Comment:", 'class -> "form-control")
                    @inputText(addContactForm("id"), '_label -> "", 'hidden -> "hidden")

                    <div class="actions">
                        <input type="submit" value="Add Feedback" class="btn btn-primary">
                        <a href="@routes.HomeController.index()"
                        <button class="btn btn-warning">Cancel</button>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}
