@(loginForm: Form[models.users.Login], user: models.users.User)
@import helper._
@main("Login", user){
    <div class="col-md-2">
    </div>
    <div class="col-md-10">l
        <div class="text-center"><h3>You must log in before you can do that <br/>Sign In</h3></div>
        @if(loginForm.hasGlobalErrors){
            <p class="alert alert-warning">
            @loginForm.globalError.message
            </p>
        }
        @if(flash.containsKey("error")){
            <div class="alert alert-warning">
            @flash.get("loginRequired")
            </div>
        }

        <div class="text-center">
        @helper.form(action = controllers.routes.LoginController.loginSubmit()){
            <div class="form-group">
            @inputText(loginForm("username"), '_label -> "Username",
                'class -> "form-control input-xs", 'placeholder -> "Username")
            </div>
            <div class="form-group">
            @inputPassword(loginForm("password"), '_label -> "Password",
                'class -> "form-control input-xs", 'placeholder -> "Password")
            </div>
            <div class="form-group">
                <input type="submit" value="Sign In" class="btn btn-primary">
            </div>
        }
        </div>
    </div>
    <div class="col-md-4">
    </div>

}