@(products: List[models.Product], categories: List[models.Category])
@main("Products"){
    <div class="col-md-2">
        <div class="list-group">
            <a href="@routes.HomeController.prod(0)" class="list-group-item">All Categories</a>
                @for(c <- categories) {
                    <li class="list-group-item">@c.getName
                    <span class="badge">@c.getProducts.size()</span>
                    </li>
                }
        </div>
    </div>
    <div class="col-md=8">
    @if(flash.containsKey("success")){
        <div class="alert alert-success">
        @flash.get("success")
        </div>
    }
    @for(p <- products){
        <tr>
            <td class="numeric">@p.getId</td>
            <td>@p.getName</td>
            <td class="numeric">&euro; @("%.2f".format(p.getPrice))</td>
            <td>
                <a href="@routes.HomeController.updateProduct(p.getId)" class="btn-xs btn-danger">
                <span class="glyphicon glyphicon-pencil"></span>
                </a>

            </td>
            <td>
                <a href="@routes.HomeController.deleteProduct(p.getId)" class="btn-xs btn-danger"
                    onclick="return confirmDel();">
                    <span class="gylpicon glyphicon-trash"></span>
                </a>
            </td>
                </a>
            </td>
        </tr>
    }
    <script>
        function confirmDel(){
            return confirm('Are you sure?');
        }
    </script>
    </div>
    <div class="col-md-2">

    </div>

}
