@(products: List[models.Product])
@main("Products"){
    @for(p <- products){
        <tr>
            <td class="numeric">@p.getId</td>
            <td>@p.getName</td>
            <td class="numeric">&euro; @("%.2f".format(p.getPrice))</td>
            <td>
                <a href="@routes.HomeController.deleteProduct(p.getId)" class="btn-xs btn-danger"
                onclick="return confirmDEl();">
                    <span class=""
                </a>
            </td>
        </tr>
    }
}
